/** Classes Media Queries **/

@media (max-width: 460px) {
    .card-items{
        p{
            display: none;
        }
        h3{
            width: 100%;
            font-size: 1.3rem;
        }
        button{
            font-size: 0.7rem;
        }
    }
}