/** Contact Main **/

.map{
    width: 100%;
    @include flex (row, wrap, space-evenly, center, .625rem);
    padding-bottom: 2rem;
    border-bottom: $borde-abajo;
    iframe{
    width: 60%;
    height: 25rem;
    border: solid 20rem darkslategray;
    box-shadow: .125rem .125rem .625rem grey;
    border-radius: 0.5rem;
    opacity: 80%;
    margin-left: .625rem;
    }
    div{
        width: 34%;
        display: flex;
        align-items: center;
        gap: .0625rem;
        ul{
            width: 90%;
            list-style: none;
            li{
                width: auto;
                font-family: $font-principal;
                font-weight: 700;
                line-height: 1.95rem;
                word-spacing: 0.2em;
                padding-right: 1em;
                a{
                    text-decoration: none;
                    color: #212529;
                    text-align: center;
                    padding-right: 2.5rem;
                }
            }
           
        }
    }
}

