footer{
    p{
        text-align: center;
        padding-top: 1rem;
        font-family: $font-principal;
    }
    img{
        width: 1.875rem;
        height: 1.875rem;
        margin: 6.25rem 0.2rem 0;
    }
}